Change Password Successful
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Change Password Successful</title>
  </head>
  <body>
  	Hi Mr./Ms. <b>$authorizedName</b>,
  	<br><br>
  	You have successfully changed your password to: $userPassword
	<br><br>
	You may now log in the system using your newly set password.
	
  </body>
</html>



