Registration/Permit to Use Conversion
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Registration/Permit to Use Conversion</title>
  </head>
  <body>
  	<p>
  		Hi Mr./Ms. <b>$authorizedName</b>,
  		
  		<br> <br>
  		
  		The provisional permit to use Sales Machine of the following machines of $taxpayerName has/have been converted to final permit: 
  		<br><br>
  		<table border="1">
		<thead>
		<tr>
			<th>PR No</th>		
			<th>MIN</th>		
			<th>Machine Details</th>
		</tr>
		</thead>
		<tbody>	
		<tr>
			<td>$permitNo</td>
			<td>$min</td>
			<td>$machine.brand / $machine.model / $machine.serialNo</td>
		</tr>
		</tbody>
  		</table>  		
    	 
    	<br> <br>
    	
    	To generate the final permit(s), kindly log on to the BIR eAccreg website.
    	
    	<br> <br>
    	Please be reminded that printing of the original copy of the Permit to Use (PTU) may be done only once. In case of loss or damaged permits, kindly contact your RDO to request for a copy of the original permit. 
    	<br> <br>
    	Thank you.
    	
		<br> <br>
		For inquiries and other related concerns, please contact your respective Revenue District Office (RDO), Large Taxpayer District Office (LTDO), Large Taxpayers Assistance Division (LTAD), or Large Taxpayer - Excise Tax Regulatory Division (LT-ETRD): http://www.bir.gov.ph/directory/rdo.htm, 
		<br>or you may also reach BIR at http://www.bir.gov.ph/, 
		<br>or thru our Customer Assistance Division (CAD) at Telephone No: 981-8888, 
		<br>or e-mail at contact_us@cctr.bir.gov.ph		
		<br> <br>
    </p>
  </body>
</html>
